{% if vyos_version | regex_search('(^1\.2)') %}
deb [trusted=yes] https://aws.unified-repo.vyos.net/vyos-crux-{{ vyos_version }}/debian crux main
deb [trusted=yes] https://aws.unified-repo.vyos.net/vyos-crux-{{ vyos_version }}/vyos crux main
deb [trusted=yes] http://aws.deb.vyos.io/extended-lts jessie main contrib non-free
deb [trusted=yes] https://aws.unified-repo.vyos.net/debian-crux-{{ vyos_version }} jessie main
{% elif vyos_version | regex_search('(^1\.3)') %}
deb [trusted=yes] https://aws.unified-repo.vyos.net/vyos-equuleus-{{ vyos_version }} equuleus main
deb [trusted=yes] https://aws.unified-repo.vyos.net/debian-equuleus-{{ vyos_version }} buster main
{% else %}
deb http://deb.debian.org/debian bullseye main contrib non-free
deb http://deb.debian.org/debian bullseye-updates main contrib non-free
deb http://deb.debian.org/debian-security/ bullseye-security main contrib non-free
deb http://dev.packages.vyos.net/repositories/current current main
{% endif %}
